[Desktop Entry]

Type=Application

Name=KD Password Generator

Comment=A simple desktop application to generate a random password between 8 and 20 characters.

Path=/opt/kd-password-generator 

Exec=/opt/kd-password-generator/kd-password-generator 

Icon=logo